@keyframes drawing {
  0%{
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
  }
  100%{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
  }
}


body{
  margin: 0;
  padding: 0;
  background-color: #101;
}


.st0{
  stroke: aliceblue;
  fill: none;
  stroke-width: 4;
  stroke-miterlimit: 10;
  animation: drawing 10s linear forwards;
}

object{
  display: block;
  margin: 0 auto;
}

img{
  display: block;
  width: 80%;
  margin: auto auto;
}