@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Tenor+Sans&display=swap');

:root {
 --white: #F9F8FF;
 --red: #90040A;
 --grey: #BFBFBF;
 --dark-grey: #3A484E;
 --black:#050315;
 --red-bright: #F9252E;
}

/* AJUSTANDO BARRA TOPO */
#item-fourty a{
  display: inline;
}

/* UTILS */
body{
    margin:0;
    padding: 0;
    overflow-x: hidden;
}

main{
  padding: 0;
  
}

html{
  font-size: 62.5%;
  background-color: var(--white);
  
}

p{
  font-size: 1.6rem;
}

section{
  padding: 80px 0;
}

.sena-dark-grey{
  color: var(--dark-grey);
}

.sena-black{
  color: var(--black);
}

.sena-bright-red{
  color: var(--red-bright);
}

.sena-txt-font-secondary{
  font-family: 'Tenor Sans', sans-serif;
}

.sena-txt-bold{
  font-weight: bold;
}

.sena-txt-small{
  font-size: 1.6rem;
}

.sena-txt-big{
  font-size: 4.8rem;
}

/* COMPONENTS */

.sena-vermais{
  position: relative;
}

.sena-title{
  font-family: 'Archivo', sans-serif;
  font-size: 2.8rem;
  border-bottom: 1px solid var(--grey);
  color: var(--black);
  position: relative;
}

.sena-title span{
  border-bottom: 4px solid var(--red);
}

.sena-title-about{
  font-family: 'Archivo', sans-serif;
  color: var(--black);
}

.sena-title-about span{
  border-bottom: 4px solid var(--red);
}

.sena-vermais a{
  display: flex;
  font-family: 'Archivo', sans-serif;
  font-size: 1.8rem;
  text-decoration: none;
  color: var(--red);
  gap: 6px;
  position: absolute;
  right: 0;
  top: 6px;
}

/* SPACING */

.sena-section-margins{
  margin: 0 80px;
}

.sena-pad-right-0{
  padding-right: 0;
}

.sena-mg-left-80{
  margin-left: 80px;
}

/* HEADER */
.sena-header{
  width: 100%;
  height: 125px;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(../images/Backgroundsena.jpg);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.sena-header-presentation {
  display: inline-block;
  margin-left: 80px;
}

.sena-header-presentation img{
    margin-bottom: 80px;
}

.sena-header-tag{
    display: inline-block;
    width: 50%;
    padding: 12px;
    color: var(--white);
}

.sena-header-tag p{
  font-family: 'Archivo', sans-serif;
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 0px;
  line-height: 4rem;
}

.sena-header-tag span{
  font-family: 'Tenor Sans',sans-serif;
  font-size: 16px;
  text-align: left;
}

.sena-tjpi-links{
    margin-right: 80px;
}

.sena-tjpi-links ul{
    list-style: none;
    text-align: right;
}
.sena-tjpi-links ul a{
    text-decoration: none;
    color: var(--white);
    font-family: 'Archivo', sans-serif;
    text-transform: uppercase;
    font-size: 1.6rem;
}

.sena-navbar{
    display: flex;
    gap: 20px;
    height: 54px;
    width: 100%;
    padding: 0px 100px !important;
    gap: 20px;
    background-color: #90040A;
    align-items: center;
}

.sena-navbar a{
    font-family: 'Archivo', sans-serif;
    font-size: 1.6rem;
    border-right: 1px solid var(--white);
    padding-right: 12px;
    text-decoration: none;
    color: var(--white);
}

/* FIM HEADER */

/* HERO SECTION */

.sena-hero{
padding-top: 0;
padding-bottom: 0;
}

.sena-hero-txt{
  margin-left: 80px;
  margin-right: 20px;
}

.sena-hero-txt h1{
  font-family: 'Archivo', sans-serif;
  font-size: 4.8rem;
}

.sena-hero-txt p{
  font-family: 'Tenor Sans',sans-serif;
  letter-spacing: 3px;
  line-height: 20px;
  font-size: 1.6rem;
 color: #3A484E;
 margin-top:12px;
}

.sena-hero-img{
  display: inline-block;
  width: 100%;
  background-image: url(../images/image\ 84.jpg);
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 100%;
  border-radius: 0  0  0 80px;
  border-bottom: 3px solid black;
  border-top: 1x solid black;
  border-left: 2px solid black;
}


/* SEÇÃO NOTICIAS */

.sena-noticias{
  padding: 60px 0px;
}

/* SEÇÃO SOBRE */
.sena-sobre{
  display: table;
  position: relative;
}


 .sena-sobre-grey-wrapper{
  width: 100vw;
  height: 648px;
  background-color: #D9D9D9;
  position: absolute;
  z-index: 0;
  bottom: -30px;
  left: -80px;
} 

.sena-sobre-txt:first-of-type{
  margin: 80px 0 80px 0;
}
.sena-sobre-txt:nth-of-type(2){
  margin: 112px 0 80px 0;
}
.sena-sobre-txt:nth-of-type(3){
  margin: 112px 0 164px 0;
}

.sena-sobre-topics{
  font-family: 'Archivo', sans-serif;
  font-size: 4.8rem;
  position: relative;
  z-index: 1;
}

.sena-sobre-descricoes{
  font-family: 'Tenor Sans', sans-serif;
  font-weight: 1.6rem;
  color: var(--black);
  margin-top: 8px;
  position: relative;
  z-index: 1;
}

.sena-sobre-images{
  display: table;
  width: 100%;
  position: relative;
}

.sena-sobre-images-focus{
  position: relative;
  z-index: 10;
  border-radius: 20px;
}

.sena-sobre-images-blur-left{
  z-index: 1;
  position: absolute;
  left: -32px;
  bottom: -32px;
  border-radius: 20px;
}

.sena-sobre-images-blur-right{
  z-index: 1;
  position: absolute;
  left: 32px;
  bottom: -32px;
  border-radius: 20px;
}

/* GALERIA */

.sena-galeria{
  width: 100vw;
  display:block;
  
  height: 500px;
  margin: 0rem;
  margin-left: 80px;
}


#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  user-select: none; /* -- Prevent image highlighting -- */
}

#image-track > .image {
  width: 360px;
  height: 420px;
  object-fit: cover;
  object-position: 100% center;
  border-radius: 8px;
}

/* MEDIA SIZES */


@media only screen and (max-width: 576px){

}

@media only screen and (min-width: 576px){

}

/* Estilos para telas médias (md) e maiores */
@media only screen and (min-width: 768px) {

}

/* Estilos para telas grandes (lg) e maiores */
@media only screen and (min-width: 992px) {

}

/* Estilos para telas extra grandes (xl) e maiores */
@media only screen and (min-width: 1200px) {
 
}
@media only screen and (min-width: 1366px) {
 
}
@media only screen and (min-width: 1600px) {
 
}


