body {
  background-color: #f2f4f5;
  margin: 0;
}

.my-box{
    display: block;
    height: 100px;
    background-color: blueviolet;
}

.my-box h1{
    margin: 0;
}

.abc{
    height: 80px;
    background-color: yellowgreen;
    margin-top: 10px;
}

.um{
    background-color: aqua;
}