@keyframes butaun {
  0% {
    width: 200px;
    height: 64px;
    display: block;
    border-radius: 4px;
    background-color: transparent;
    color: #ff0099;
  }
  50% {
    width: 180px;
    height: 64px;
    display: block;
    border-radius: 8px;
    background-color: transparent;
    color: #ff0099;
  }
  100% {
    width: 200px;
    height: 64px;
    display: block;
    background-color: blue;
    color: #fff;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #f2f4f5;
}

.btn {
  width: 200px;
  height: 64px;
  display: block;
  border-radius: 8px;
  border: 2px solid blue;
  margin: 100px auto;
  text-align: center;
  line-height: 64px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-weight: bold;
  background-color: #fff;
  color: #ff0099;
  transition: all 0.3s ease-out;
}

.btn:hover{
  animation: butaun 0.3s forwards;
  box-shadow: 8px 8px 0 #ff0099;
}